// Import SASS variables
@import "config.variables";

.mdl-textfield {
  min-width: 700px;
}

.show-on-foc {
  visibility: hidden;
}

.is-focused .show-on-foc {
  visibility: visible;
}

.mdl-radio.margin-right {
  margin-right: 32px !important;
}

.mdl-radio.margin-top {
  margin-top: 16px !important;
}
