// -----------------------------------------------------------------------------
//
// Colors
//
// -----------------------------------------------------------------------------

$purple:       #8E24AA;
$purple-light: #C158DC;
$purple-dark:  #5C007a;

$orange:       #FDD835;
$orange-light: #FFFF6B;
$orange-dark:  #C6A700;

$black:        #28222A;
$grey:         #94938F;
$grey-light:   #EBEBEB;
$grey-dark:    #4C474D;
